container_commands:
  01_a_remove_old_notifications_cron_jobs:
    command: "rm /etc/cron.d/notifications_cron || exit 0"
  02_b_remove_old_cert:
    command: "rm /etc/cron.d/apns-prod-cert.pem || exit 0"
  03_c_remove_old_key:
    command: "rm /etc/cron.d/apns-prod-key-noenc.pem || exit 0"
  04_d_copy_certificate:
    command: "cat .ebextensions/apns-prod-cert.pem > /etc/cron.d/apns-prod-cert.pem && chmod 644 /etc/cron.d/apns-prod-cert.pem"
  05_e_copy_key:
    command: "cat .ebextensions/apns-prod-key-noenc.pem > /etc/cron.d/apns-prod-key-noenc.pem && chmod 644 /etc/cron.d/apns-prod-key-noenc.pem"
  06_f_notifications_cron_job:
    command: "cat .ebextensions/notifications_cron.txt > /etc/cron.d/notifications_cron && chmod 644 /etc/cron.d/notifications_cron"
    leader_only: true
  07_g_remove_old_flagged_cron_jobs:
    command: "rm /etc/cron.d/flagged_content_cron || exit 0"
  08_h_flagged_content_cron_job:
    command: "cat .ebextensions/flagged_content_cron.txt > /etc/cron.d/flagged_content_cron && chmod 644 /etc/cron.d/flagged_content_cron"
    leader_only: true
  09_i_remove_old_expired_cron_jobs:
    command: "rm /etc/cron.d/expired_token_cron || exit 0"
  09_j_expired_token_cron_job:
    command: "cat .ebextensions/expired_token_cron.txt > /etc/cron.d/expired_token_cron && chmod 644 /etc/cron.d/expired_token_cron"
    leader_only: true