<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- jQuery source -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Crypto Library -->
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha256.js"></script>

    <!-- Local css and js source files -->
    <link rel="stylesheet" href="/static/html_statics/css/reset_password.css">
    <title>Reset Password</title>
</head>
<body>
    <div id="header">
        <h1 class="blips_title">Blips</h1>
    </div>
    <div id="container">
        <h2 class="reset_password_title">Reset Password</h2>

{% if confirm_message %}
        <p class="confirm_message">{{confirm_message}}</p>
{% endif %}
{% if confirm == False %}
        <form class="reset_form" method="GET">
            <input class="password" name="new_password" type="password" placeholder="New Password"/>
            <input name="username" type="hidden" value="{{username}}"/>
            <input name="token" type="hidden" value="{{token}}"/>
            <input name="request_timestamp" type="hidden" value="{{request_timestamp}}"/>
            <input name="device_token" type="hidden" value="{{device_token}}"/>
            <input name="submit" type="submit" value="Submit"/>
        </form>
{% endif %}
    </div>
    <div id="footer">
        <p>Copyright &#169; {{ date }} <a href="http://www.blipsapp.ca"> AF-Apps & Blips</a></p>
    </div>
</body>
</html>
<script type="text/javascript">

    $(document).ready(function() {
        $('.reset_form').attr("action", "http://"+window.location.host+"/api/{{version}}/user/reset_password/confirm");
    });

    $('.reset_form').submit(function(e) {
        $('.reset_form input.password').val(CryptoJS.SHA256($('.reset_form input.password').val()));
    });

</script>