div#header {
    width: 100%;
    height: 100px;
    display: block;
    background: -moz-linear-gradient(left,  rgba(46,50,105,0.67) 0%, rgba(111,100,147,0.92) 38%, rgba(112,101,148,0.94) 41%, rgba(119,108,156,0.98) 76%, rgba(114,113,159,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(46,50,105,0.67)), color-stop(38%,rgba(111,100,147,0.92)), color-stop(41%,rgba(112,101,148,0.94)), color-stop(76%,rgba(119,108,156,0.98)), color-stop(100%,rgba(114,113,159,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab2e3269', endColorstr='#72719f',GradientType=1 ); /* IE6-9 */
    border-bottom: 2px solid rgba(255,255,255,0.5);
    color: #f5f5f5;
    padding: 30px 0px;
    margin: 0px;

}

h1.blips_title {
    width: 840px;
    margin: 0 auto;
    font-size: 27pt;
    text-align: center;
    font-weight: 200;
}

h2.reset_password_title {
    font-size: 22pt;
    text-align: center;
    color: #f5f5f5;
    font-weight: 200;
    margin-bottom: 70px;
}

a {
    color: inherit;
}

a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

p.confirm_message {
    text-align: center;
    font-size: 12pt;
}

form.reset_form input[type="password"], form.reset_form input[type="submit"]  {
    width: 50%;
    display: block;
    margin: 20px auto;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px;
}

form.reset_form input[type="password"] {
    height: 50px;
    font-size: 15pt;
    background-color: rgba(255,255,255,0.5);
    padding: 0px 10px;
}

form.reset_form input[type="submit"] {
    width: 20%;
    padding: 1% 0px;
    background-color: rgba(255,255,255,0.2);
    font-size: 15pt;
}

form.reset_form input[type="submit"]:hover, form.reset_form input[type="submit"]:target, form.reset_form input[type="submit"]:active {
    background-color: rgba(255,255,255,0.3);
}

* {
    outline: none;
}

div#container {
    position: relative;
    top: 23%;
    display: block;
    width: 840px;
    height: auto;
    margin: 20px auto;
}

div#footer {
    position: fixed;
    width: 100%;
    display: block;
    bottom: 0;
    text-align: center;
    background: -moz-linear-gradient(left,  rgba(46,50,105,0.67) 0%, rgba(111,100,147,0.92) 38%, rgba(112,101,148,0.94) 41%, rgba(119,108,156,0.98) 76%, rgba(114,113,159,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(46,50,105,0.67)), color-stop(38%,rgba(111,100,147,0.92)), color-stop(41%,rgba(112,101,148,0.94)), color-stop(76%,rgba(119,108,156,0.98)), color-stop(100%,rgba(114,113,159,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(46,50,105,0.67) 0%,rgba(111,100,147,0.92) 38%,rgba(112,101,148,0.94) 41%,rgba(119,108,156,0.98) 76%,rgba(114,113,159,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab2e3269', endColorstr='#72719f',GradientType=1 ); /* IE6-9 */
    border-top: 2px solid rgba(255,255,255,0.5);
    color: #f5f5f5;
    padding: 10px 0px;
    font-weight: 200;
}

div#footer p {
    margin: 5px 0px;
    width: 840px;
    text-align: center;
    margin: 0 auto;
}
/* Background */

body {
    padding: 0px;
    margin: 0px;
    background: none;
    display: block;
    width: 100%;
    height: 100%;
}

html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(-45deg,  rgba(128,129,160,1) -1%, rgba(128,129,160,1) 0%, rgba(115,116,158,0.78) 48%, rgba(115,116,158,0.78) 49%, rgba(93,95,160,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(-1%,rgba(128,129,160,1)), color-stop(0%,rgba(128,129,160,1)), color-stop(48%,rgba(115,116,158,0.78)), color-stop(49%,rgba(115,116,158,0.78)), color-stop(100%,rgba(93,95,160,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(128,129,160,1) -1%,rgba(128,129,160,1) 0%,rgba(115,116,158,0.78) 48%,rgba(115,116,158,0.78) 49%,rgba(93,95,160,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(128,129,160,1) -1%,rgba(128,129,160,1) 0%,rgba(115,116,158,0.78) 48%,rgba(115,116,158,0.78) 49%,rgba(93,95,160,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(128,129,160,1) -1%,rgba(128,129,160,1) 0%,rgba(115,116,158,0.78) 48%,rgba(115,116,158,0.78) 49%,rgba(93,95,160,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(128,129,160,1) -1%,rgba(128,129,160,1) 0%,rgba(115,116,158,0.78) 48%,rgba(115,116,158,0.78) 49%,rgba(93,95,160,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8081a0', endColorstr='#5d5fa0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}